* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.main {
  display: flex;
  justify-content: flex-start;
}

.leftSide {
  flex: 1;
  background-color:bisque;
}

.rightSide {
  flex: 4;
  background-color: aquamarine;
}

.sketch {
  display: flex;
  justify-content: center;
  height: 80vh;
  width: 90%;
  padding: 50px;
  gap: 1px;
}

.divColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1px;
}

.sketchPixel {
  background-color: white; 
  width: 40px;
  height: 40px;
}